[Desktop Entry]
Version=1.0
Type=Application
Name=Steam Big Picture
Comment=Open Steam in Big Picture mode
Exec=/userdata/system/add-ons/desktop/helpers/desktop-steam-session.sh -bigpicture
Icon=/userdata/system/add-ons/steam/extra/icon.png
Terminal=false
Categories=Game;
StartupNotify=false
